@import 'colors';


// form page
.mainContent{
	// background: red;
	padding: 12px;
	width: 60%;
	float: left;
    box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.11);
	
}

.continue_watching {
	width: 100%;
	height: 300px;
	// background: gray;
}

.sideContainer {
	background: white;
	// border: 1px solid red;
	padding: 22px;
	width: 30%;
	float: right;
    box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.11);

    .field {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }

    .fadded-text {
    	color: gray;
    }
}

.title-input {
	min-width: 97%;
	max-width: 97%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-text {
	min-width: 97%;
	max-width: 97%;
	min-height: 300px;
	margin-top: 20px;
}

.btn {
	padding: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 1.2rem;
}

.btn-primary {
	background: $color-primary;
	border: none;
	color: white;
	cursor: pointer;
}

.btn-large {
	width: 100%;
}

.page_title {
	padding: 12px;
	font-weight: 1.2rem;
	font-weight: 300;
}


// index page

.custom-table {
	// background: red;
	width: 100%;
	.list_item {
		width: 100%;
		background: white;
	    box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.11);
	    margin-bottom: 10px;
	    margin-top: 10px;
	    padding: 12px;
	}

	.right {
		text-align: right;
		float: right;
		// background: red;
		width: 25%;
		padding: 6px;
	}

	.left {
		text-align: left;
		display: inline-block;
		// background: red;
		width: 60%;
		max-width: 60%;
		padding: 6px;
	}

}


.page {
	padding-top: 30px;

	.page_header {
		height: 120px;
		.left {
			// background: red;
			width: 30%;
			float: left;

			h1 {
				padding: 0;
				margin: 0;
				padding: 12px;
			}
		}
		.right {
			// background: red;
			width: 30%;
			float: right;
		}
	}
}

.tar {
	text-align: right
}

.tal {
	text-align: left;
}


.page_slider {
	width: 100%;
	height: 600px;
	background: #000;
	margin-bottom: 60px;
}